@import 'partials/mixins';
@import 'modules/inputs';
@import 'modules/buttons';

.newBearForm {
	@include container-format($color-scheme5)
	@include text-format($color-scheme5);
	color: $color-scheme1;
	padding: 10px, 10px, 10px, 20px;
	margin-left: 10px;
}
