@mixin text-format($text-color, $alignment: left, $size: 18px) {
	text-align: $alignment;
	font-size: $size;
	color: $text-color;
}

@mixin container-format($background-color, $width: 60%) {
	background-color: $background-color;
	width: $width;
}

