@mixin text-format($alignment, $size, $text-color){
	text-align: $alignment;
	font-size: $size;
	color: $text-color;
}

@mixin container-format($background-color, $width){
	background-color: $background-color;
	width: $width;
}

body {
	@include text-format(left, $color-scheme1, $color-scheme2);
	@include text-format(90%, 18px);
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

h1 {
	@include text-format(center, $color-scheme3, $color-scheme5);
	@include text-format(62%, 24px);
	font-family: 'Kaushan Script', cursive;
  letter-spacing: 5px;
}

h2 {
	@include text-format(left, 18px, $color-scheme5);
}