@mixin text-format($alignment, $padding: 2px 2px 2px 2px){
	text-align: $alignment;
	padding: $padding;
}

@mixin container-format($background-color, $padding: 0 0 2px 20px, $width: 60%) {
	background-color: $background-color;
	width: $width;
	padding: $padding;
}

input {
	font-size: 100%;
	color: $color-scheme4;
	background-color: $color-scheme3;
	border: 1px solid $color-scheme5;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-position: 8px 9px;
	display: block;
	padding: 2px 2px 2px 2px;
	margin-bottom: 10px;
}

ul {
	@include text-format(left);
}

li {
	@include text-format(left);
	@include container-format($color-scheme3);
	list-style-type: none;
	font-weight: 700;
}

.newBearForm {
	@include container-format($color-scheme5)
	color: $color-scheme1;
}

.newBearForm button {
	text-align: left;
	margin-left: 0;
}

.button {
	-moz-box-shadow:inset 0 0 14px -3px #f2fadc;
	-webkit-box-shadow:inset 0 0 14px -3px #f2fadc;
	box-shadow:inset 0 0 14px -3px #f2fadc;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dbe6c4), color-stop(1, #9ba892));
	background:-moz-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
	background:-webkit-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
	background:-o-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
	background:-ms-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
	background:linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbe6c4', endColorstr='#9ba892',GradientType=0);
	background-color:#dbe6c4;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #b2b8ad;
	display:inline-block;
	cursor:pointer;
	text-align: right;
	color:#757d6f;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0 1px 0 #ced9bf;
	margin-left: 50px;
	margin-right: 2px;
	margin-bottom: 10px;
	margin-top: 10px;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0 1px 0 #ced9bf;
	margin-left: 50px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
}










