@mixin btn-maker($bg: $site-grey, $txt: $site-white) {
	background-color: $bg;
	color: $txt;
	transition: $standard-trans;

	&:hover {
		background-color: darken($bg, 10%);
	}

	&:disabled {
		background-color: $site-grey;
		color-grey;
	}
}